@import '~bootstrap/scss/bootstrap';

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
}

label {
  color: white;
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.shoeitem {
  background: grey;
  border: solid darkgrey;
  display: flex;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

.shoelist {
  margin-top: 200px;
}

.test-img {
  background: pink;
  height: 100px;
  width: 100px;
}
